body{
    position: relative;
    min-height: 600px;
}

div{
    position: absolute;
    box-sizing: border-box;
    padding: 20px 60px;
}

/*Resultado 1*/
#diez_de_diamantes{
    z-index: 1;
    left: 25px;
}
#sota_de_diamantes{
    z-index: 2;
    left: 40px;
    top: 75px;
}
#reina_de_diamantes{
    z-index: 3;
    left: 55px;
    top: 90px;
}
#rey_de_diamantes{
    z-index: 4;
    left: 70px;
    top: 105px;
}
#as_de_diamantes{
    z-index: 5;
    left: 85px;
    top: 120px;
}

/*Resultado 2*/
#diez_de_diamantes{
    z-index: 5;
    left: 25px;
}
#sota_de_diamantes{
    z-index: 4;
    left: 40px;
    top: 75px;
}
#reina_de_diamantes{
    z-index: 3;
    left: 55px;
    top: 90px;
}
#rey_de_diamantes{
    z-index: 2;
    left: 70px;
    top: 105px;
}
#as_de_diamantes{
    z-index: 1;
    left: 85px;
    top: 120px;
}
